<!DOCTYPE html>
<html>
<head>
	<title>Nuevo Personaje</title>
</head>
<body>
	<h3>Nuevo Personaje</h3>
	<form action="/personajes/crear" method="post">
		<input type="text" name="nombre" placeholder="Nombre">
		<input type="text" name="apellido" placeholder="Apellido">
		<input type="text" name="biografia" placeholder="Biografía">
		<input type="submit" value="Crear Personaje">
	</form>
	
</body>
</html>